.sentecoma {
	text-align: center;
	cursor: pointer;
	font-family: Chess;
	font-size: 23px;
}
.sentecoma:hover {
/*
	background-color: #dddddd;
	*/
}

.gotecoma {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	text-align: center;
	cursor: pointer;
	font-family: Chess;
	font-size: 23px;
}
.gotecoma:hover {
/*
	background-color: #dddddd;
	*/
}

.zonecoma {
  text-align: center;
	cursor: pointer;
	font-family: Chess;
  font-size: 18px;
}

